body, main, footer {
    background-color: black;
    padding: 10px;
}
input  {
    border-radius: 5px;
}
span {
    color:darkslategrey;
}


.modal, #exampleModal {
    height: 600px;
    background-color: rgb(58, 54, 54);
    color: darkolivegreen;
}

.enterHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    background-color: black;
    align-items: center;
}

.enterBtn {
    width: 100px;
    height: 60px;
    background-color: aquamarine;
}
.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.emailInput, .passInput {
    height: 50px;
    width: 300px;
}

.modalContainer {

    height: 300px;

}
.enterInBtn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

.createBtn {
    width: 225px;
    height: 55px;
    background-color: rgb(15, 15, 89);
    color: white;
    border-radius: 10px;
}

.modalContainer{
    height: 800px;
    background-color: darkolivegreen;
}
.modal-body  {
    background-color: darkolivegreen;
    color: black;
}

.currentText {
    padding-top: 50px;
    text-align: center;
    color: white;
}

.infoCard, .filteredCard {
    width: 250px;
    border: 1px solid color#582222;
    text-align: center;
    background-color: darkolivegreen;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.showButton, .editButton, .removeBtn {
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px #582222;
    background-color:darkkhaki;
}


.act { display: none; }

.filter {
    display: flex;
    flex-direction: column;
}
.filterForm {
    margin-top: 40px;
    padding: 10px;
}

.enter {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: auto;
    align-items: center;
}

.contentFilter, .statusFilter {
    width: 350px;
    height: 35px;
}
label {
    color: white;
}














